/*
 * General Styles
*/


body {
  background: url('../images/watercolor.png');
  font-family: 'Didact Gothic', sans-serif;

  background-repeat: repeat;
  background-position: center;
  background-attachment: fixed;
}

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*
 * Container Styles
*/


.container {
  width: 600px;
  margin: 6.25rem auto;
}

.container section:nth-child(even) {
  background: #F3DCB2a3;
}

.container section:nth-child(odd) {
  background: #FAB0BFa2;
}

img {
  width: 100%;
}

/*
 * Banner Styles
*/

.banner img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  padding: 0px;
  line-height: 0;
}

section.banner {
  line-height: 0;
  background-color: transparent;
}

.memories img {
  width: 20rem;
}

.event img {
  width: 13rem;
  margin: 0 0 0 2rem;
}

h1 {
  font-size: 2.75rem;
  text-align: center;
  color: #F2116C;
  padding: 1rem 0 1rem 0;
  font-weight: bold;
}

h2 {
  font-size: 1rem;
  text-align: center;
}

p{
  padding: 0rem;
  line-height: 1rem;
}

.intro p {
  text-align: center;
}

.event p {
  padding: 0 0 0 3rem;
}

section.intro, section.event, section.memories, section.nngstudio {
    padding: 1rem 1rem 1rem 1rem;
}

.alignright {
  float: left;
  padding: 0 0 0 1rem;
}

.alignleft {
  float: right;
  margin: 0 0 1rem 1rem;
}

iframe {
  width: 100%;
}